<%- include('./partials/header') %> 

    <main>
        <div class="mainWrapper">
            <%- include("./partials/sideBar") %> 
            <div class="rightContent">
                <%- include('./partials/topBar') %> 
                <div class="mainContent">
                    <div class="formContainer">
                        <form class="create-form">
                            <h2>Create Package</h2>
                            <div class="formWrapper">
                                <div class="inputGroup">
                                    <label for="">Sender's Name:</label>
                                    <input type="text" name="senderName">
                                </div>
    
                                <div class="inputGroup">
                                    <label for="">Sender's Email:</label>
                                    <input type="text" name="senderEmail">
                                </div>
    
                                <div class="inputGroup">
                                    <label for="">Receiver's Name</label>
                                    <input type="text" name="receiverName">
                                </div>
    
                                <div class="inputGroup">
                                    <label for="">Receiver's Email</label>
                                    <input type="text" name="receiverEmail">
                                </div>

                                <div class="inputGroup">
                                    <label for="">Receiver's Number</label>
                                    <input type="text" name="receiverNumber">
                                </div>
    
                                <div class="inputGroup">
                                    <label for="">Destination Address</label>
                                    <input type="text" name="destination">
                                </div>

                                <div class="inputGroup">
                                    <label for="">package </label>
                                    <input type="text" name="package" placeholder="what are you sending to client?">
                                </div>

                                <div class="inputGroup">
                                    <label for="">weight</label>
                                    <input type="text" name="weight">
                                </div>

                                <div class="inputGroup">
                                    <label for="">Current Location</label>
                                    <input type="text" name="currentLocation">
                                </div>

                                <div class="inputGroup">
                                    <label for="">Depature Date</label>
                                    <input type="date" name="depatureDate">
                                </div>

                                <div class="inputGroup">
                                    <label for="">Expected Delivery Date</label>
                                    <input type="date" name="deliveryDate">
                                </div>

                                <div class="inputGroup">
                                    <label for="">Shipment Method</label>
                                    <select name="shipmentMethod" id="">
                                        <option selected disabled>--select shipment method--</option>
                                        <option value="Express Delivery">Express Delivery</option>
                                    </select>
                                </div>

                                <div class="inputGroup">
                                    <label for="">Pickup Date & time</label>
                                    <input type="date" name="PickupDate">
                                </div>

                                <div class="inputGroup">
                                    <label for="">Status of item</label>
                                    <input type="text" name="status">
                                </div>
                                
                                <button class="btn">Creat</button>
                        </div>
                        <p class="message"></p>
                        </form>
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </main>

    <script>
        const createForm = document.querySelector('.create-form')
        const message = document.querySelector('.message')

        const createpackage = async (e) => {
            message.classList.remove('error')
            message.textContent = '';
            e.preventDefault()
            const senderName = createForm.senderName.value
            const senderEmail = createForm.senderEmail.value
            const receiverName = createForm.receiverName.value
            const receiverEmail = createForm.receiverEmail.value
            const receiverNumber = createForm.receiverNumber.value
            const destination = createForm.destination.value
            const item = createForm.package.value
            const weight = createForm.weight.value
            const currentLocation = createForm.currentLocation.value
            const depatureDate = createForm.depatureDate.value
            const deliveryDate = createForm.deliveryDate.value
            const shipmentMethod = createForm.shipmentMethod.value
            const PickupDate = createForm.PickupDate.value
            const status = createForm.status.value

            // validation
            if(!senderName || !senderEmail|| !receiverName|| !receiverEmail|| !receiverNumber|| !destination|| !item||!weight|| !currentLocation|| !depatureDate|| !deliveryDate|| !shipmentMethod|| !PickupDate||!status) {
                message.classList.add('error')
                message.textContent = 'All fields are required';
                return;
            }

            const package = {senderName,senderEmail,receiverName,receiverEmail,receiverNumber,destination,item,weight,currentLocation,depatureDate,deliveryDate,shipmentMethod,PickupDate,status 

            }

            try {
                const response = await fetch("/packages/create", {
                    method: "POST",
                    headers: {"Content-Type": "application/json"},
                    body: JSON.stringify(package)
                });

                if(!response.ok) {
                    message.classList.add('error')
                    message.textContent = 'There was an error with the end point';
                    return;
                }

                const json = await response.json();
       
                    message.classList.add('success');
                    message.textContent = 'packages successfully created';
                    console.log(json)
                    createForm.reset()

                
            } catch (error) {
                message.classList.add('error')
                message.textContent = error.message;
                return;
            }
        }
        createForm.addEventListener('submit', createpackage)
    </script>

<%- include('./partials/footer') %> 
