<%- include('./partials/header') %> 

    <main>
        <div class="mainWrapper">
            <%- include("./partials/sideBar") %> 
            <div class="rightContent">
                <%- include('./partials/topBar') %> 
                <div class="mainContent">
                    <div class="formContainer">
                        <form class="create-form">
                            <h2>Create Package</h2>
                            <div class="formWrapper">
                                <div class="inputGroup">
                                    <label for="">Sender's Name:</label>
                                    <input type="text" name="senderName">
                                </div>
    
                                <div class="inputGroup">
                                    <label for="">Sender's Email:</label>
                                    <input type="text" name="senderEmail">
                                </div>
    
                                <div class="inputGroup">
                                    <label for="">Receiver's Name</label>
                                    <input type="text" name="receiverName">
                                </div>
    
                                <div class="inputGroup">
                                    <label for="">Receiver's Email</label>
                                    <input type="text" name="receiverEmail">
                                </div>

                                <div class="inputGroup">
                                    <label for="">Receiver's Number</label>
                                    <input type="text" name="receiverNumber">
                                </div>
    
                                <div class="inputGroup">
                                    <label for="">Destination Address</label>
                                    <input type="text" name="destination">
                                </div>

                                <div class="inputGroup">
                                    <label for="">package </label>
                                    <input type="text" name="package" placeholder="what are you sending to client?">
                                </div>

                                <div class="inputGroup">
                                    <label for="">weight</label>
                                    <input type="text" name="weight">
                                </div>

                                <div class="inputGroup">
                                    <label for="">Current Location</label>
                                    <input type="text" name="currentLocation">
                                </div>

                                <div class="inputGroup">
                                    <label for="">Depature Date</label>
                                    <input type="date" name="depatureDate">
                                </div>

                                <div class="inputGroup">
                                    <label for="">Expected Delivery Date</label>
                                    <input type="date" name="deliveryDate">
                                </div>

                                <div class="inputGroup">
                                    <label for="">Shipment Method</label>
                                    <select name="shipmentMethod" id="">
                                        <option selected disabled>--select shipment method--</option>
                                        <option value="Express Delivery">Express Delivery</option>
                                    </select>
                                </div>

                                <div class="inputGroup">
                                    <label for="">Pickup Date & time</label>
                                    <input type="date" name="PickupDate">
                                </div>

                                <div class="inputGroup">
                                    <label for="">Status of item</label>
                                    <input type="text" name="status">
                                </div>
                                <!-- <i class="fa-solid fa-spinner"></i> -->
                                
                                <button class="btn">Create</button>
                               
                        </div>
                        <p class="message"></p>
                        </form>
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </main>

    <script>
        const createForm = document.querySelector('.create-form')
        const message = document.querySelector('.message')
        const btn = document.querySelector('.btn')


        showSpinner(btn)
        // show spinner function 
        function showSpinner(button) {
            button.disabled = true
            button.innerHTML = ' <span style="display:flex; align-item: center; justify-content: space-between"></span> <span>Loading... </span> <img src="/images/loading.gif" width="50px" alt="">'
        }

        // show spinner function 
        function hideSpinner(button) {
            button.disabled = false
            button.innerHTML = 'Create'
        }


        const createpackage = async (e) => {
            showSpinner(btn)

            message.className = 'message';
            message.textContent = '';

            e.preventDefault()
            const senderName = createForm.senderName.value
            const senderEmail = createForm.senderEmail.value
            const receiverName = createForm.receiverName.value
            const receiverEmail = createForm.receiverEmail.value
            const receiverNumber = createForm.receiverNumber.value
            const destination = createForm.destination.value
            const item = createForm.package.value
            const weight = createForm.weight.value
            const currentLocation = createForm.currentLocation.value
            const depatureDate = createForm.depatureDate.value
            const deliveryDate = createForm.deliveryDate.value
            const shipmentMethod = createForm.shipmentMethod.value
            const PickupDate = createForm.PickupDate.value
            const status = createForm.status.value

            try {
                // validation
                if(!senderName || !senderEmail|| !receiverName|| !receiverEmail|| !receiverNumber|| !destination|| !item||!weight|| !currentLocation|| !depatureDate|| !deliveryDate|| !shipmentMethod|| !PickupDate||!status) {
                    throw new Error('All fields are required');
                }

                const package = {senderName,senderEmail,receiverName,receiverEmail,receiverNumber,destination,item,weight,currentLocation,depatureDate,deliveryDate,shipmentMethod,PickupDate,status }

                const response = await fetch("/packages/create", {
                    method: "POST",
                    headers: {"Content-Type": "application/json"},
                    body: JSON.stringify(package)
                });

                console.log(response)

                if(!response.ok) {
                    throw new Error(response.statusText);
                }

                const result = await response.json();

                if(result.error) {
                    throw new Error(result.error);
                }

                message.classList.add('success');
                hideSpinner(btn)
                message.textContent = 'packages successfully created';
                createForm.reset();

            } catch (error) {
                hideSpinner(btn)
                message.classList.add('error');
                message.textContent = error.message;
                return;
            }
        }
        createForm.addEventListener('submit', createpackage);
    </script>

<%- include('./partials/footer') %> 
