<%- include('./partials/header') %> 
    
    <main>
        <div class="mainWrapper">
            <%- include("./partials/sideBar") %> 
      
            <div class="rightContent">
                <%- include('./partials/topBar') %> 
                <div class="mainContent">
                    <section>
                        <div class="statistics">

                            <div class="created">
                                <div class="staticsInner">
                                    <span class="icon"><i class="fa-solid fa-truck-fast"></i></span>
                                    <span class="value">Total&nbsp;250</span>
                                </div>
                            </div>

                            <div class="transit">
                                <div class="staticsInner">
                                    <span class="icon"><i class="fa-solid fa-truck-fast"></i></span>
                                    <span class="value">Delivered &nbsp;100</span>
                                </div>
                            </div>

                            <div class="delivered">
                                <div class="staticsInner">
                                    <span class="icon"><i class="fa-solid fa-truck-fast"></i></span>
                                    <span class="value">transit package&nbsp;50</span>
                                </div>
                            </div>

                        </div>
                    </section>

                    <section>
                        <div class="packageTable" style="overflow: scroll;">
                            <table id="myTable" class="hover row-border table is-striped" style="width:100%" >
                                <thead>
                                    <tr style="white-space: nowrap;">
                                        <th>Sender Name</th>
                                        <th>Sender Email</th>
                                        <th>Receiver Name</th>
                                        <th>Destination</th>
                                        <th>Location</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody style="white-space: nowrap;">
                                    <tr>
                                        <td>Onyekaozulu</td>
                                        <td>Ede</td>
                                        <td>Developer</td>
                                        <td>Eze Global</td>
                                        <td>10/24/22</td>
                                        <td>$30000</td>
                                        <td class="actionColumn">
                                            <span>
                                                <a href="../admin/edit/32655215351341"><i class="fa-solid fa-pen-to-square edit"></i></a>
                                            </span>

                                            <span><i class="fa-solid fa-trash trash"></i></span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>Onyekaozulu</td>
                                        <td>Ede</td>
                                        <td>Developer</td>
                                        <td>Eze Global</td>
                                        <td>10/24/22</td>
                                        <td>$30000</td>
                                        <td class="actionColumn">
                                            <span>
                                                <a href="../admin/edit/32655215351341"><i class="fa-solid fa-pen-to-square edit"></i></a>
                                            </span>
                                            
                                            <span><i class="fa-solid fa-trash trash"></i></span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>Onyekaozulu</td>
                                        <td>Ede</td>
                                        <td>Developer</td>
                                        <td>Eze Global</td>
                                        <td>10/24/22</td>
                                        <td>$30000</td>
                                        <td class="actionColumn">
                                            <span>
                                                <a href="../admin/edit/32655215351341"><i class="fa-solid fa-pen-to-square edit"></i></a>
                                            </span>
                                            
                                            <span><i class="fa-solid fa-trash trash"></i></span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>Onyekaozulu</td>
                                        <td>Ede</td>
                                        <td>Developer</td>
                                        <td>Eze Global</td>
                                        <td>10/24/22</td>
                                        <td>$30000</td>
                                        <td class="actionColumn">
                                            <span>
                                                <a href="../admin/edit/32655215351341"><i class="fa-solid fa-pen-to-square edit"></i></a>
                                            </span>
                                            
                                            <span><i class="fa-solid fa-trash trash"></i></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </main>

<%- include('./partials/footer') %> 
