<%- include('./partials/header') %> 
    
    <main>
        <div class="mainWrapper">
            <%- include("./partials/sideBar") %> 
      
            <div class="rightContent">
                <%- include('./partials/topBar') %> 
                <div class="mainContent">
                    <div class="staics">
                        <div class="created">
                            <div class="staticsInner">
                                <span class="icon">icon</span>
                                <span class="value">value</span>
                            </div>
                        </div>
                        <div class="transit">
                            <div class="staticsInner">
                                <span class="icon">icon</span>
                                <span class="value">value</span>
                            </div>
                        </div>
                        <div class="delivered">
                            <div class="staticsInner">
                                <span class="icon">icon</span>
                                <span class="value">value</span>
                            </div>
                        </div>
                    </div>
                    <h2>main content</h2>
                </div>
                
            </div>
        </div>
    </main>

<%- include('./partials/footer') %> 
