<%- include('./partials/header') %> 

    
    <main>
        <div class="mainWrapper">
            <div class="leftContent">
                <!-- <h2>side bar</h2> -->
                <%- include("./partials/sideBar") %> 
            </div>
            <div class="rightContent">
                <!-- <h2>main content</h2> -->
            </div>
        </div>
    </main>

<%- include('./partials/footer') %> 
