<%- include('../partials/head')  %> 
<body>

<!-- include the main navigation  -->
<%- include('../partials/nav')  %> 

<section class="sec-padding single-service-page">
	<div class="thm-container">
		<div class="row">
			<div class="col-md-12 tracking-container" style="margin: auto; overflow: auto;">
               
                <div class="loginForm-wrapper">
                    <form class="reset-password">
                        <h2>Reset password</h2>
                        <label for="email">Enter Email</label>
                        <input id="email" type="text" name="email">

                        <button class="btn" name="submit">Password Reset</button>
                    </form>
                </div>

			</div>
		</div>
	</div>
</section>


<section class="footer-top">
	<div class="thm-container">
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-6">
					<h3>Logistic and cargo</h3>
					<p>Contact us now to get quote for all your global <br>shipping and cargo need.</p>
				</div>
				<div class="col-md-6">
					<a class="thm-btn" href="/contact">Contact Us <i class="fa fa-arrow-circle-right"></i></a>
				</div>
			</div>
		</div>
	</div>
</section>

<script type="module">
	import {notification, showSpinner, hideSpinner, closeNotification} from '/admin/js/notification.js';
	const resetPassword = document.querySelector('.reset-password');


	toastBtn.addEventListener('click', () => closeNotification(toast))

	const resetpassword = async (e) => {
		e.preventDefault();

        const email = resetPassword.email.value;
        const btn = resetPassword.submit;

        try {
            
            showSpinner(btn)

		    const formData = { email };

            if(!email) {
                throw new Error('email is required')
            }

			const url = '/admin/forgotPassword'
			const response = await fetch(url, {
				method: 'POST', 
				headers: { 'Content-Type': 'application/json'},
				body: JSON.stringify(formData)
			})

			if(!response.ok){
				throw new Error("Password reset failed!")
			}

			const result = await response.json();
			btn.textContent = 'Password Reset';

			if(result.error) {
				throw new Error(result.error)
			}

			notification.success("Password reset link sent", toast, toastIcon, toastMessage, closeNotification)
			hideSpinner(btn, "Password Reset")


		} catch (error) {
			notification.error(error.message, toast, toastIcon, toastMessage, closeNotification)
			hideSpinner(btn, "Password Reset")
		}
	}

    resetPassword.addEventListener('submit', resetpassword)
</script>


<!-- include footer  -->
<%- include('../partials/footer.ejs')  %>

