<%- include('../partials/head')  %> 
<body>

<!-- include the main navigation  -->
<%- include('../partials/nav')  %> 

<section class="sec-padding single-service-page">
	<div class="thm-container">
		<div class="row">
			<div class="col-md-12 tracking-container" style="margin: auto; overflow: auto;">
               
                <div class="loginForm-wrapper">
                    <form class="login-form">
                        <h2>Admin Login</h2>
                        <label for="email">Email</label>
                        <input id="email" type="text" name="email">

                        <label for="pwd">Password</label>
                        <input id="pwd" type="password" name="password">
                        <button class="btn" name="submit">Login</button>
                    </form>
                </div>

			</div>
		</div>
	</div>
</section>


<section class="footer-top">
	<div class="thm-container">
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-6">
					<h3>Logistic and cargo</h3>
					<p>Contact us now to get quote for all your global <br>shipping and cargo need.</p>
				</div>
				<div class="col-md-6">
					<a class="thm-btn" href="contact.html">Contact Us <i class="fa fa-arrow-circle-right"></i></a>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- include footer  -->
<%- include('../partials/footer.ejs')  %> 