<%- include('../partials/head')  %> 
<body>

<!-- include the main navigation  -->
<%- include('../partials/nav')  %> 

<section class="sec-padding single-service-page">
	<div class="thm-container">
		<div class="row">
			<div class="col-md-12 tracking-container" style="margin: auto; overflow: auto;">
               
                <div class="loginForm-wrapper">
                    <form class="resetForm">
                        <h2>Reset Password</h2>
                        <label for="newpwd">New Password</label>
                        <input id="newpwd" type="password" name="newPassword">

                        <label for="conpwd">Confirm Password</label>
                        <input id="conpwd" type="password" name="confirmPassword">
                        <button class="btn" name="submit">Reset Password</button>
                    </form>
                </div>

			</div>
		</div>
	</div>
</section>


<section class="footer-top">
	<div class="thm-container">
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-6">
					<h3>Logistic and cargo</h3>
					<p>Contact us now to get quote for all your global <br>shipping and cargo need.</p>
				</div>
				<div class="col-md-6">
					<a class="thm-btn" href="/contact">Contact Us <i class="fa fa-arrow-circle-right"></i></a>
				</div>
			</div>
		</div>
	</div>
</section>

<script type="module">
	import {notification, showSpinner, hideSpinner, closeNotification} from '/admin/js/notification.js';
	const resetForm = document.querySelector('.resetForm');

    const queryString = new URLSearchParams(document.location.search)
    const resetToken = queryString.get('resetToken')


	toastBtn.addEventListener('click', () => closeNotification(toast))

	const resetpassword = async (e) => {
		e.preventDefault();

		const newPassword = resetForm.newPassword.value;
        const confirmPassword = resetForm.confirmPassword.value;
		const btn = resetForm.submit;
		  
		const formData = { newPassword, confirmPassword };

		showSpinner(btn)

		try {

            if(!newPassword || !confirmPassword) {
                throw new Error('Password fields are required')
            }

			const url = `/admin/auth/resetpassword/${resetToken}`
			const response = await fetch(url, {
				method: 'POST', 
				headers: { 'Content-Type': 'application/json'},
				body: JSON.stringify(formData)
			})

			if(!response.ok){
				throw new Error("Reset failed, please try again")
			}

			const result = await response.json();
			btn.textContent = 'Reset Password';

			if(result.error) {
				throw new Error(result.error)
			}

			notification.success(result.message, toast, toastIcon, toastMessage, closeNotification)
			hideSpinner(btn, "Reset Password")
			// location.assign("/admin/login")

		} catch (error) {
			notification.error(error.message, toast, toastIcon, toastMessage, closeNotification)
			hideSpinner(btn, "Reset Password")
		}
	}

 	resetForm.addEventListener('submit', resetpassword)
</script>


<!-- include footer  -->
<%- include('../partials/footer.ejs')  %>

