<%- include('./partials/header') %> 

    
    <main>
        <div class="mainWrapper">
            <%- include("./partials/sideBar") %> 
            <div class="rightContent">
                <%- include('./partials/topBar') %> 
                <h2>Settings content</h2>
            </div>
        </div>
    </main>

<%- include('./partials/footer') %> 
