<!-- Start header -->
<header id="header" class="stricky">
	
	<div class="thm-container clearfix">
		<div class="logo pull-left">
			<a href="/index-2">
				<img src="images/logooo_old.png" alt="" height="55px" width="110px">
			</a>
		</div>
		<div class="header-info pull-right">
			
			<div class="info-box">
				<div class="icon-box no-border">
					<i class="icon icon-Timer"></i>
				</div>
				<div class="text-box">
					<p class="highlighted">Mon - Sat 9:00AM - 5:00PM</p>
					<p>Sunday - Closed</p>
				</div>
			</div>
			<div class="info-box">
				<div class="icon-box">
					<i class="icon icon-Phone2"></i>
				</div>
				<div class="text-box">
					<p class="highlighted">Call Us:</p>
					<p class="phone-number">(520) 329-2670</p>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- End header  -->

<!-- Start mainmenu -->
<nav class="main-menu-wrapper stricky">
	<div class="thm-container menu-gradient ">
		<div class="clearfix">
			<div class="nav-holder pull-left">
				<div class="nav-header">
					<button><i class="fa fa-bars"></i></button>
				</div>
				<div class="nav-footer">
					<ul class="nav">
						<li>
							<a href="/">Home</a>
						</li>
						<li>
							<a href="/about">About Us</a>
						</li>
						<li>
							<a href="/services">Services</a>
						</li>
						<li>
							<a href="/faq">FAQ</a>
						</li>
						<li>
							<a href="/track-shipment">Track Your Shipment</a>
						</li>
						<li>
							<a href="/contact">contact us</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="free-qoute-button pull-right">				
				<a href="/request-qoute">Get Free Quote</a>
			</div>
		</div>
	</div>
</nav><!-- End mainmenu -->