
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');



:root {
    --primary: #2760b8;
    --primary-light: #2a7178; 
    --secondary: rgb(83, 45, 148);
    --bgcolor: #f4f2f2;
    --content-bg: #fff;
    --background: #f2f2f2;
    --border-color: #e5e7eb;
    --font-poppins: 'Poppins', sans-serif;
    --font-open-sans: 'Open Sans', sans-serif;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', 'Roboto', sans-serif;
}

.fa-xmark {
    font-size: 25px;
    margin-left: auto;
    color: var(--primary);
    cursor: pointer;
}

.btn {
    background: var(--primary);
    color: #fff;
    border: 1px solid var(--primary);
    /* border: none; */
    outline: none;
    border-radius: 5px;
    padding: 8px 10px;
    cursor: pointer;
    font-size: 1.1em;
    margin: 10px 0;
    min-width: 150px;
}

.toast {
    position: fixed;
    top: 20px;
    right: 20px;
    border-radius: 5px;
    display: flex;
    gap: 20px;
    max-width: 400px;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    padding-right: 10px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    transition: opacity 0.9s ease-in-out, transform 0.9s ease-in-out;
}

.toast-message {
    flex-grow: 1;
}

.toast.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

.toast-inner {
    display: flex;
    gap: 10px;
    padding: 0 10px;
    color: #fff;
    min-width: 250px;
}

.toast-icon {
    font-size: 1.2em;
}

.toast-message {
    font-size: 1.2em;
}

.toast-close-btn i {
    font-size: 1.2em !important;
    cursor: pointer;
    color: #fff !important;
}

.error, .success {
    color: red;
    margin: 5px 0; 
    text-align: center; 
    font-size: 1.1em;
}

.success {
    color: green;
}

.btn:hover {
    background: transparent;
    color: var(--primary);
    border: 1px solid var(--primary);
}

label {
    display: block;
    margin: 5px 0;
    font-size: 1em;
    color: var(--primary);
}

input {
    font-size: 1.1em;
    color: #1e1e1e;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0 20px;
    background: transparent;
    z-index: 999999999;
    transform: translateY(-3000px); 
    transition: transform 0s ease-in-out; 
}

.modal.show {
    transform: translateY(0);
}

.modal-content {
    width: 450px;
    border: 2px solid var(--border-color);
    border-radius: 5px;
    margin: auto;
    padding: 10px 20px 20px 20px;
    background: #fff;
    box-shadow: 0 10px 50px #1e1e1e;
}

.close-btn {
    display: flex;
    margin-right: auto;
}

.modal-content form input {
    width: 100%;
    padding: 8px 20px;
    border: 2px solid var(--border-color);
    border-radius: 5px;
}

.modal-content .input-group {
    margin: 20px 0;
}

.statistics i {
    font-size: 50px;
    color: var(--primary);
}

body {
    background-color: var(--bgcolor);
}

.mainWrapper {
    display: flex;
    gap: 10px;
    flex-grow: 1;
}

.sideWrapper {
    flex-basis: 350px;
    background: var(--content-bg);
    height: 100vh;
    border: 1px solid var(--border-color);
}

.mobileMenu {
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(400px);
    flex-basis: 350px;
    background: var(--background);
    height: 100vh;
    border: 1px solid var(--border-color);
    box-shadow: 3px 2px 4px solid #000;
    transition: transform 0.5s ease-in-out;
    z-index: 9999999;
}

.mobileMenu.active {
    transform: translateX(0);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    transform: translateX(-1500px);
    transition: transform 0.5s ease-in-out;
    cursor: pointer;
    z-index: 1111;
}

.overlay.active {
    transform: translateX(0);
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    /* transform: translateX(-1500px); */
    display: none;
    /* transition: transform 0.5s ease-in-out; */
    cursor: pointer;
    z-index: 1111;
}

.modal-overlay.active {
    display: block;
}

.innerWrapper {
    padding: 20px 0;
}

.sideLogo {
    display: flex;
    align-items: center;
    padding: 0 10px;
    margin-bottom: 40px;
}

.sideLogo p {
    font-size: 1.2em;
    text-align: center;
    font-weight: 500;
    font-family: var(--font-poppins);
    color: var(--primary-light);
}

.innerWrapper ul li {
    list-style: none;
}

.innerWrapper ul a {
    display: block;
    padding: 10px 20px;
    margin-top: 5px;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    color: var(--primary);
}

.innerWrapper ul a.active {
    background: var(--primary);
    color: #fff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.innerWrapper ul a:hover {
    background: var(--primary);
    color: #fff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}


/* right side begins here  */
.rightContent {
    width: 100%;
    padding: 10px 20px;
    background: var(--content-bg);
}

.topSection {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
    z-index: 111;
}

.greeting {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    flex-grow: 1;
}

.greeting .destop-greet {
    display: none;
}

.topSection .profile {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-left: auto;
    gap: 20px;
}

.topnav-modal {
    position: absolute;
    right: 20px;
    top: 60px;
    width: 250px;
    display: none;
    box-shadow: 0 20px 40px #ccc;
    background: #fff;
    border-radius: 5px;
}

.topnav-modal.active {
    display: block
}

.topnav-modal ul li {
    list-style: none;
}

.topnav-modal ul li a{
    display: block;
    color: #1e1e1e;
    padding: 10px;
    text-decoration: none
}

.topnav-modal ul li a:hover {
    color: #fff;
    background: var(--primary);
}

.profile .fa-bars {
    font-size: 30px;
    color: var(--primary);
    font-weight: bold;
    cursor: pointer;
}

.fa-product-hunt {
    font-size: 40px;
    color: var(--primary);
    font-weight: bold;
    cursor: pointer;
}

.mainContent {
    max-width: 900px;
    margin: auto;
    margin-top: 40px;
}

.formContainer {
    margin: 0 auto;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.1);
}

.formContainer form {
    max-width: 400px;
    padding: 10px 20px;
    margin: 0 auto;
}

.formContainer form h2{
   text-align: center;
   color: var(--primary-light);
   margin-top: 20px;
    
}

.formWrapper {
    margin-top: 20px
}

.inputGroup {
    margin-top: 10px;
}

.formContainer form label{
    display: block;
    margin: 5px 0;
    font-size: 1em;
    color: var(--primary);
}

.formContainer form input, select{
   width: 100%;
   padding: 8px 15px;
   outline: none;
   border: 1.5px solid var(--border-color);
   border-radius: 5px;
}

.formContainer form input:focus{
    border: 2px solid rgb(240, 240, 255);
 }


 /* dashboard page styles  */
 .statistics {
    display: grid;
    gap: 10px;
 }


 .staticsInner {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    height: 150px;
    border-radius: 5px;
    border: 2px solid var(--border-color);
 }

 .staticsInner span:nth-child(1) {
    align-self:flex-start;
 }

 .staticsInner span:nth-child(2) {
    align-self:flex-end;
    font-weight: 700;
   font-size: 1.1em;
   color: var(--primary-light);
 }

 .packageTable {
    margin-top: 40px;
 }

 .actionColumn {
    display: flex;
    justify-content: center;
    gap: 5px;
 }

 .actionColumn .trash{
    color: rgb(198, 32, 32);
    font-size: 1.1em;
    cursor: pointer;
 }

 .actionColumn .edit{
    color: var(--primary-light);
    font-size: 1.1em;
    cursor: pointer;
 }

 /* settings page styles */
 .setting-container {
    margin-top: 20px;
    display: flex;
    height: 100vh;
   
 }

 .tabs {
    flex-basis: 250px;
    border-right: 1px solid var(--border-color);
 }

 .mobile-tabs {
    margin-top: 30px;
 }

 .mobile-tabs ul {
    display: flex;
    gap: 20px;
 }

 .mobile-tabs ul li {
    list-style: none;
    font-size: 1.2em;
    color: rgb(64, 52, 78);
    cursor: pointer;
 }

 .mobile-tabs ul li.active {
    border-bottom: 2px solid var(--primary);
    padding-bottom: 5px;
 }

 .tabs {
    display: none;
 }

 .tabs ul li {
    list-style: none;
    margin: 20px 10px;
    padding: 10px;
    font-size: 1.1em;
    cursor: pointer;
 }

 .tabs ul li.active {
    background: var(--background);
    color: rgb(64, 52, 78);
    border-radius: 5px;
 }

 .tab-content {
    padding: 10px ;
    flex-grow: 1;
 }

 .tab-content h3 {
    color: rgb(64, 52, 78);
    font-size: 1.5em;
    text-decoration: underline;
 }

 .single-content {
    display: none;
 }

 .single-content.active {
    display: block;
 }

 .security-details {
    margin-top: 15px;
 }

 .profile-details {
    display: flex;
    flex-direction: column;
 }

 .profile-details p, .password-inner p {
    margin: 5px 0;
 }

 .profile-details p span {
    display: block;
    margin: 5px 0;
 }

 .profile-details p span:nth-child(1) {
    font-size: 1em;
    font-weight: 700;
 }

 .profile-details p span:nth-child(2) {
    font-size: 1.1em;
    color: rgb(64, 52, 78);
 }

 .edit-profile {
    width: 150px;
    margin-top: 20px;
    cursor: pointer;
    border: 1px solid rgb(64, 52, 78);;
    color: rgb(64, 52, 78);
    font-size: 1.2em;
    outline: none;
    border-radius: 5px;
    background: transparent;
    padding: 5px 20px;
 }

 .password-inner {
    display: flex;
    gap: 10px;
    flex-direction: column;
 }


 .password-inner button {
    cursor: pointer;
    border: 1px solid rgb(64, 52, 78);;
    color: rgb(64, 52, 78);
    font-size: 1.2em;
    outline: none;
    border-radius: 5px;
    background: transparent;
    padding: 5px 20px;
 }


 /* admin login form styles  */
 .loginForm-wrapper {
    max-width: 400px;
    background: #fff;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.1);
 }

 .loginForm-wrapper h2 {
    text-transform: uppercase;
    text-align: center;
    margin-top: 10px;
 }

 .loginForm-wrapper input {
    padding: 5px 10px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid var(--border-color);
 }

 .tracking-container h2 {
    text-transform: uppercase;
    text-align: center;
    margin: 40px 0;
}
.tracking-container thead.active {
    background: #f2f2f2;
    font-weight: bold;
}

.tracking-container th {
    padding: 15px!important;
}

.tracking-container td {
    padding: 20px !important;
    font-size: 1.2em;
}


footer {
    background: var(--content-bg);
}


@media screen and (max-width: 767px) {
    .sideWrapper {
       display: none;
    }
}

@media screen and (min-width: 768px) {
    .mobileMenu {
        display: none;
    }

    .profile .fa-bars {
        display: none;
    }

    .greeting {
        justify-content: space-between;
    }

    .greeting .destop-greet {
        margin-left: auto;
        cursor: pointer;
        display: block;
    }

    .formWrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .formContainer form {
        max-width: 800px;
    }

    .inputGroup {
        margin-top: 0;
    }

    /* dashboard page styling  */
    .statistics {
        grid-template-columns: repeat(3, 1fr);
    }

    .tabs {
        display: block;
     }

     .mobile-tabs {
        display: none;
     }

     .single-content {
        margin: 0 30px;
     }

     .single-content {
        display: none;
     }

     .single-content.active {
        display: block;
     }

     .profile-details {
        flex-direction: row;
        justify-content: space-between;
     }

     .tab-content {
        max-width: 600px;
     }
     
     .loginForm-wrapper {
        max-width: 500px;
        padding: 25px;
     }

}