<%- include('./partials/head')  %> 
<body>
<!-- include the main navigation  -->
<%- include('./partials/nav')  %> 

<section class="inner-banner">
	<div class="thm-container">
		<h2>Contact Us</h2>
		<ul class="breadcumb">
			<li><a href="index-2.html"><i class="fa fa-home"></i> Home</a></li>
			<li><span>Contact Us</span></li>
		</ul>
	</div>
</section>

<section class="sec-padding contact-page-content">
	<div class="thm-container">
		<div class="sec-title">
			<h2><span>Get in touch</span></h2>
			<p>You can talk to our online representative at any time. Please use our Live Chat System on our website or <br>Fill up below instant messaging programs.</p>
		</div>
		<div class="row">
			<div class="col-md-7 col-sm-6 col-xs-12 pull-left">
				<form action="#" method="#" class="contact-form contact-page">
					<p><input type="text" required="required" placeholder="Name" name="name"></p>
					<p><input type="text" required="required" placeholder="Email" name="email"></p>
					<p><input type="text" required="required" placeholder="Subject" name="subject"></p>
					<p><textarea name="message" required="required" placeholder="Message"></textarea></p>
					<button type="submit" class="thm-btn">Submit Now <i class="fa fa-arrow-right"></i></button>
				</form>
			</div>
			<div class="col-md-5 col-sm-6 col-xs-12 pull-right">
				<div class="contact-info">
					<ul>
						<li>
							<div class="icon-box">
								<i class="icon icon-Pointer"></i>
							</div>
							<div class="content">
								<p>Address: 15048 Shamrock Ridge Rd, Silver Spring, MD 20906</p>
							</div>
						</li>
						<li>
							<div class="icon-box">
								<i class="icon icon-Plaine"></i>
							</div>
							<div class="content">
								<p>info@crestglobaldelivery.com <br>delivery@crestglobaldelivery.com</p>
							</div>
						</li>
						<li>
							<div class="icon-box">
								<i class="icon icon-Phone2"></i>
							</div>
							<div class="content">
								<p><a href ="tel: +1 (520) 329-2670">Tel (International): +1 (520) 329-2670</a></p>
								<!-- <p><a href ="tel:44 203 397 0815">Tel INT: +44 203 397 0815</a></p> -->
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- <div class="row">
			<div class="col-md-12">				
				<div class="google-map" id="contact-page-google-map" data-map-lat="-37.812802" data-map-lng="144.956981" data-map-zoom="10" data-map-title="Envato HQ"></div>
			</div>
		</div> -->
		<!-- <div style="width: 100%"><iframe width="100%" height="600" src="https://maps.google.org/maps?width=100%&amp;height=600&amp;hl=en&amp;q=UK%20Postbox%20Ltd%2C%2016%20Freeland%20Park%2C%20Wareham%20Road%2C%20Lytchett%20Matravers%2C%20Poole%2C%20BH17%207FH%2C%20UK%20+(Atlan%20Logistics)&amp;ie=UTF8&amp;t=h&amp;z=9&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.maps.ie/map-my-route/">Create route map</a></iframe></div> -->
		<br />
	</div>
</section>



<section class="footer-top">
	<div class="thm-container">
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-6">
					<h3>Logistic and cargo</h3>
					<p>Contact us now to get quote for all your global <br>shipping and cargo need.</p>
				</div>
				<div class="col-md-6">
					<a class="thm-btn" href="contact.html">Contact Us <i class="fa fa-arrow-circle-right"></i></a>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- include footer  -->
<%- include('./partials/footer.ejs')  %> 