<%- include('./partials/head')  %> 
<body>
<!-- include the main navigation  -->
<%- include('./partials/nav')  %> 

<section class="inner-banner">
	<div class="thm-container">
		<h2>FAQ</h2>
		<ul class="breadcumb">
			<li><a href="index-2.html"><i class="fa fa-home"></i> Home</a></li>
			<li><span>FAQ</span></li>
		</ul>
	</div>
</section>


<section class="sec-padding faq-page">
	<div class="thm-container">
		<div class="row">
			<!-- <div class="col-md-4 pull-left">
				<div class="single-sidebar-widget">
					<div class="special-links">
						<ul>
							<li class="active"><a href="faq">FaQs</a></li>
						</ul>
					</div>					
				</div>
				<div class="single-sidebar-widget">
					<div class="sec-title">
						<h2><span>Download brochure</span></h2>
					</div>
					<div class="dwnld-broucher">
						<img src="images/dwnld-broucher.png" alt="Awesome Image"/>
						<a href="#">download as pdf &nbsp;&nbsp;<i class="fa fa-long-arrow-right"></i></a>	
					</div>					
				</div>
			</div> -->
			<div class="col-md-12">
				<div class="sec-title">
					<h2><span>Frequently ask questions</span></h2>
					<p>Below are some of the most frequently asked questions about Crest Global Delivery. To learn more, send us an email.</p>
				</div>

				<div class="accrodion-grp" data-grp-name="faq-accrodion">
					<div class="accrodion active">
						<div class="accrodion-title">
							<h4 style="color: #6c1d43; font-size: 18px; font-weight: bold">Who can file a freight claim?</h4>
						</div>
						<div class="accrodion-content">
							<p>Either the shipper, consignee, billing party or a third party logistics company may file a freight claim against a shipment, however only one claim per shipment maybe honored by the carrier.</p>
						</div>
					</div>
				</div>
				<div class="accrodion-grp" data-grp-name="faq-accrodion">
					<div class="accrodion active">
						<div class="accrodion-title">
							<h4 style="color: #6c1d43; font-size: 18px; font-weight: bold">Why do I need to provide a copy of the shipper's invoice?</h4>
						</div>
						<div class="accrodion-content">
							<p>Per Item, an invoice must be provided to substantiate the value of the product. This invoice will not be distributed to a third party, unless otherwise required by law.</p>
						</div>
					</div>
				</div>
				<div class="accrodion-grp" data-grp-name="faq-accrodion">
					<div class="accrodion active">
						<div class="accrodion-title">
							<h4 style="color: #6c1d43; font-size: 18px; font-weight: bold">What if I discovered concealed damages after delivery?</h4>
						</div>
						<div class="accrodion-content">
							<p>It is the consignee’s responsibility to report concealed damages to the carrier. Please contact us at customerservice@crestglobaldelivery.com and ask to speak with A Customer Service Representative. Concealed damages must be reported within 48 hours from the time of delivery.</p>
						</div>
					</div>
				</div>
				<div class="accrodion-grp" data-grp-name="faq-accrodion">
					<div class="accrodion active">
						<div class="accrodion-title">
							<h4 style="color: #6c1d43; font-size: 18px; font-weight: bold">How quickly can my shipments be delivered?</h4>
						</div>
						<div class="accrodion-content">
							<p>It depends, how quickly do you NEED it delivered? Crest Global Delivery designs custom SOP’s around some of the strictest service level agreements in the industry. Whether there is a patient on a table and a medical device needs to be delivered within 90 minutes, or marketing material that needs to be delivered next day, Crest Global Delivery will customize a solution around your specific needs.</p>
						</div>
					</div>
				</div>
				<div class="accrodion-grp" data-grp-name="faq-accrodion">
					<div class="accrodion active">
						<div class="accrodion-title">
							<h4 style="color: #6c1d43; font-size: 18px; font-weight: bold">Why would I want to use Crest Global Delivery vs one of the other Crest Global Delivery providers in the space?</h4>
						</div>
						<div class="accrodion-content">
							<p>Crest Global Delivery pioneered the next flight out (NFO) industry back in 1990 and continues to innovate in the space to this day. We offer a customized online platform specifically designed for mission-critical delivery. Crest Global Delivery maintains the highest levels of on-time service in the industry with the lowest failure rate, coupled with a strict focus on customer service. We offers the latest technology providing the best visibility and tracking tools in the market place that will predicatively track the life of your order. With services that range from big box retail consolidation programs, to service part logistic solutions, there isn’t anything Crest Global Delivery can’t do for you.</p>
						</div>
					</div>
				</div>
				<div class="accrodion-grp" data-grp-name="faq-accrodion">
					<div class="accrodion active">
						<div class="accrodion-title">
							<h4 style="color: #6c1d43; font-size: 18px; font-weight: bold">Why should a logistics company’s origins matter to me?</h4>
						</div>
						<div class="accrodion-content">
							<p>The roots and experience of a logistics provider will make a profound difference in the quality of its solutions and level of understanding its people demonstrate in your business. Most 3PLs come from a transactional transportation logistics background. While they can be strong in arranging air, ground, trans-oceanic or multi-modal shipments, their other logistics services may have been developed afterward, as complements to appeal to customers at either end of transportation. In contrast, Crest Global Delivery is an industrial contract logistics provider. We come from industrial roots and have a perspective and understanding of exactly how logistics will improve your productivity and profitability throughout the supply chain.</p>
						</div>
					</div>
				</div>
			
			</div>
		</div>
	</div>
</section>



<section class="footer-top">
	<div class="thm-container">
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-6">
					<h3>Logistic and cargo</h3>
					<p>Contact us now to get quote for all your global <br>shipping and cargo need.</p>
				</div>
				<div class="col-md-6">
					<a class="thm-btn" href="contact.html">Contact Us <i class="fa fa-arrow-circle-right"></i></a>
				</div>
			</div>
		</div>
	</div>
</section>


<footer id="footer" class="sec-padding">
	
	<div class="thm-container">
		<div class="row">
			<div class="col-md-3 col-sm-6 footer-widget">
				<div class="about-widget">
					<div class="title">
						<h3 style="color: #ff7e00; font-family: Alegreya; font-size: 23px;"><span>Crest Global Delivery</span></h3>
					</div>
					<!-- <a href="/"><img src="images/logooo.png" height="135px" width="120px" alt="Crest Global Delivery"/></a> -->
					<p>Whatever the the situation, Crest Global Delivery will find a solution for your delivery needs. Fast, efficient and friendly your goods are in safe hands the moment they leave your premises.</p>
					
					<!-- <ul class="social">
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
						<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
					</ul> -->
				</div>
			</div>
			<div class="col-md-3 col-sm-6 footer-widget">
				<div class="pl-30">
					<div class="title">
						<h3><span>Our Services</span></h3>
					</div>
					<ul class="link-list">
						<li><a href="services.html">Sea and Air Freight</a></li>
						<li><a href="services.html">Packaged Good and Transport</a></li>
						<li><a href="services.html">Logistics Solutions</a></li>
						<li><a href="services.html">Warehousing and Storage</a></li>
						<li><a href="services.html">Forwarding Services</a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-2 col-sm-6 footer-widget">
				<div class="title">
					<h3><span>Quick Links</span></h3>
				</div>
				<ul class="link-list">
					<li><a href="index.html">Home</a></li>
					<li><a href="services.html">Our Services</a></li>
					<li><a href="about.html">About Us</a></li>
					<li><a href="faq.html">FAQ</a></li>
					<li><a href="contact.html">Contact Us</a></li>
				</ul>
			</div>
			<div class="col-md-4 col-sm-6 footer-widget">
				<div class="title">
					<h3><span>Contact</span></h3>
				</div>
				<ul class="contact-infos">
					<li>
						<div class="icon-box">
							<i class="fa fa-map-marker"></i>
						</div>
						<div class="text-box">
							<p><b>15048 Shamrock Ridge Rd, Silver Spring, MD 20906</b></p>
						</div>
					</li>
					<li>
						<div class="icon-box">
							<i class="fa fa-phone"></i>
						</div>
						<div class="text-box">
							<p><a href="tel:+1 (240) 270-0762">Tel: (240) 270-0762</a></p>
							<!-- <p><a href="tel:+44 203 397 0815">Tel INT: +44 203 397 0815</a></p> -->
						</div>
					</li>
					<li>
						<div class="icon-box">
							<i class="fa fa-envelope-o"></i>
						</div>
						<div class="text-box">
							<p>contact@centuryglobalcourier.com</p>
						</div>
					</li>
					<li>
						<div class="icon-box">
							<i class="icon icon-Timer"></i>
						</div>
						<div class="text-box">
							<p>Monday - Saturday 9:00AM - 5:00PM</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div></footer>

<section class="bottom-bar">
	<div class="thm-container clearfix">
		<div class="pull-left">
			<p>Copyright © Crest Global Delivery . All rights reserved.</p>
		</div>
	</div>
</section>


<!-- jQuery js -->
<script src="plugins/jquery/jquery-1.11.3.min.js"></script>
<!-- bootstrap js -->
<script src="plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- jQuery ui js -->
<script src="plugins/jquery-ui-1.11.4/jquery-ui.js"></script>
<!-- owl carousel js -->
<script src="plugins/owl.carousel-2/owl.carousel.min.js"></script>
<!-- jQuery appear -->
<script src="plugins/jquery-appear/jquery.appear.js"></script>
<!-- jQuery countTo -->
<script src="plugins/jquery-countTo/jquery.countTo.js"></script>
<!-- jQuery validation -->
<script src="plugins/jquery-validation/dist/jquery.validate.min.js"></script>
<!-- gmap.js helper -->
<script src="http://maps.google.com/maps/api/js"></script>
<!-- gmap.js -->
<script src="plugins/gmap.js"></script>
<!-- mixit up -->
<script src="plugins/jquery.mixitup.min.js"></script>

<!-- revolution slider js -->
<script src="plugins/revolution/js/jquery.themepunch.tools.min.js"></script>
<script src="plugins/revolution/js/jquery.themepunch.revolution.min.js"></script>
<script src="plugins/revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script src="plugins/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
<script src="plugins/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
<script src="plugins/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="plugins/revolution/js/extensions/revolution.extension.migration.min.js"></script>
<script src="plugins/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script src="plugins/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<script src="plugins/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script src="plugins/revolution/js/extensions/revolution.extension.video.min.js"></script>

<!-- fancy box -->
<script src="plugins/fancyapps-fancyBox/source/jquery.fancybox.pack.js"></script>
<!-- type script -->
<script src="plugins/typed.js-master/dist/typed.min.js"></script>

<!-- theme custom js  -->
<script src="js/main.js"></script>



</body>

<!-- Mirrored from crestglobaldelivery.com/faq by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 17 Nov 2022 09:24:00 GMT -->
</html>