<%- include('./partials/head')  %> 
<body>
<!-- include the main navigation  -->
<%- include('./partials/nav')  %> 

<section class="inner-banner">
	<div class="thm-container">
		<h2>Request a Qoute</h2>
		<ul class="breadcumb">
			<li><a href="index-2.html"><i class="fa fa-home"></i> Home</a></li>
			<li><span>Request a Qoute</span></li>
		</ul>
	</div>
</section>

<section class="sec-padding">
	<div class="thm-container">
		<div class="sec-title">
			<h2><span>Get a quote from<a> Crest Global Delivery </a></span></h2>
			<p>Need dependable, cost effective transportation of your commodities? Fill out our easy Quote Request Form below to get a fast quote on your job.</p>
		</div>
		<div class="row">
			<div class="col-md-7 col-sm-12 col-xs-12 pull-left">
				<form action="#" class="contact-form contact-page">
					<p><input type="text" required="required" placeholder="Frieght Type" name="frieght-type"></p>
					<p><input type="text" required="required" placeholder="City of Departure" name="city-of-departure"></p>
					<p><input type="text" required="required" placeholder="Delivery City" name="delivery-city"></p>
					<p><input type="text" required="required" placeholder="Total Gross Weight" name="total-gross-weight"></p>
					<p><input type="text" required="required" placeholder="Dimention" name="dimention"></p>
					<p><input type="text" required="required" placeholder="Email" name="email"></p>
					<p><textarea name="message" required="required" placeholder="Message"></textarea></p>
					<button type="submit" class="thm-btn">Submit Now <i class="fa fa-arrow-right"></i></button>
				</form>
			</div>
			<div class="col-md-5 hidden-sm text-right pull-right">
				<img src="images/request-qoute-man.jpg" alt="Awesome Image"/>
			</div>
		</div>
	</div>
</section>

<!-- <section class="sec-padding rqa-feature">
	<div class="thm-container">
		<div class="row">
			<div class="col-md-4 col-sm-6 bg-1 text-center">
				<div class="single-rqa-feature">
					<i class="fa fa-globe"></i>
					<h3>Safe and Secure</h3>
					<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adip isci velit, sed quia non numquam.</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 bg-2 text-center">
				<div class="single-rqa-feature">
					<i class="fa fa-globe"></i>
					<h3>Great support</h3>
					<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adip isci velit, sed quia non numquam.</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 bg-3 text-center">
				<div class="single-rqa-feature">
					<i class="fa fa-globe"></i>
					<h3>fast delivery</h3>
					<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adip isci velit, sed quia non numquam.</p>
				</div>
			</div>
		</div>
	</div>
</section> -->



<section class="footer-top">
	<div class="thm-container">
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-6">
					<h3>Logistic and cargo</h3>
					<p>Contact us now to get quote for all your global <br>shipping and cargo need.</p>
				</div>
				<div class="col-md-6">
					<a class="thm-btn" href="contact.html">Contact Us <i class="fa fa-arrow-circle-right"></i></a>
				</div>
			</div>
		</div>
	</div>
</section>


<!-- include footer  -->
<%- include('./partials/footer.ejs')  %> 