<%- include('./partials/head')  %> 
<body>
<!-- include the main navigation  -->
<%- include('./partials/nav')  %> 

<section class="inner-banner">
	<div class="thm-container">
		<h2>Career</h2>
		<ul class="breadcumb">
			<li><a href="index-2.html"><i class="fa fa-home"></i> Home</a></li>
			<li><span>Track your Shipment</span></li>
		</ul>
	</div>
</section>


<section class="sec-padding  faq-page career-page">
	<div class="thm-container">
		<div class="row">
			<div class="col-md-12" style="text-align: center;">
				<div class="sec-title">
					<h2><span>Track any Freight Management shipment</span></h2>
					<p>Enter your order tracking number below to get notified of your order status</p>
				</div>
			    <hr>
            

				<form class="contact-form track-shipment-form" action="#" id="contactForm" method="post">
					
							<div class="label">
								Search Number(s)*
							</div>
							<div class="content">
        								<form name="sentMessage" action="#" id="contactForm" method="post" novalidate>
                                <div class="control-group form-group">
                                    <div class="controls">
                                        
                                        <input type="text" class="form-control" name="track" id="name"  placeholder = "Please Enter Your Tracking Number">
                                        <p class="help-block"></p>
                                        <input type="submit" name="btn" id="btn" value="Track" class="btn btn-primary">
                                    </div>
                                </div>
                      
							</div>
						
				</form>
                 	    	
			</div>
			<div class="col-md-12" style="text-align: center;">
			    <h4 class='text-center' style='color:red; text-transform:uppercase;'><b>fill in a tracking number</b></h4>    
			</div>
		</div>
	</div>
</section>
<section class="footer-top">
	<div class="thm-container">
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-6">
					<h3>Logistic and cargo</h3>
					<p>Contact us now to get quote for all your global <br>shipping and cargo need.</p>
				</div>
				<div class="col-md-6">
					<a class="thm-btn" href="contact.html">Contact Us <i class="fa fa-arrow-circle-right"></i></a>
				</div>
			</div>
		</div>
	</div>
</section>


<footer id="footer" class="sec-padding">
	
	<div class="thm-container">
		<div class="row">
			<div class="col-md-3 col-sm-6 footer-widget">
				<div class="about-widget">
					<div class="title">
						<h3 style="color: #ff7e00; font-family: Alegreya; font-size: 23px;"><span>Crest Global Delivery</span></h3>
					</div>
					<!-- <a href="/"><img src="images/logooo.png" height="135px" width="120px" alt="Crest Global Delivery"/></a> -->
					<p>Whatever the the situation, Crest Global Delivery will find a solution for your delivery needs. Fast, efficient and friendly your goods are in safe hands the moment they leave your premises.</p>
					
					<!-- <ul class="social">
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
						<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
					</ul> -->
				</div>
			</div>
			<div class="col-md-3 col-sm-6 footer-widget">
				<div class="pl-30">
					<div class="title">
						<h3><span>Our Services</span></h3>
					</div>
					<ul class="link-list">
						<li><a href="services.html">Sea and Air Freight</a></li>
						<li><a href="services.html">Packaged Good and Transport</a></li>
						<li><a href="services.html">Logistics Solutions</a></li>
						<li><a href="services.html">Warehousing and Storage</a></li>
						<li><a href="services.html">Forwarding Services</a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-2 col-sm-6 footer-widget">
				<div class="title">
					<h3><span>Quick Links</span></h3>
				</div>
				<ul class="link-list">
					<li><a href="index.html">Home</a></li>
					<li><a href="services.html">Our Services</a></li>
					<li><a href="about.html">About Us</a></li>
					<li><a href="faq.html">FAQ</a></li>
					<li><a href="contact.html">Contact Us</a></li>
				</ul>
			</div>
			<div class="col-md-4 col-sm-6 footer-widget">
				<div class="title">
					<h3><span>Contact</span></h3>
				</div>
				<ul class="contact-infos">
					<li>
						<div class="icon-box">
							<i class="fa fa-map-marker"></i>
						</div>
						<div class="text-box">
							<p><b>15048 Shamrock Ridge Rd, Silver Spring, MD 20906</b></p>
						</div>
					</li>
					<li>
						<div class="icon-box">
							<i class="fa fa-phone"></i>
						</div>
						<div class="text-box">
							<p><a href="tel:+1 (240) 270-0762">Tel: (240) 270-0762</a></p>
							<!-- <p><a href="tel:+44 203 397 0815">Tel INT: +44 203 397 0815</a></p> -->
						</div>
					</li>
					<li>
						<div class="icon-box">
							<i class="fa fa-envelope-o"></i>
						</div>
						<div class="text-box">
							<p>contact@centuryglobalcourier.com</p>
						</div>
					</li>
					<li>
						<div class="icon-box">
							<i class="icon icon-Timer"></i>
						</div>
						<div class="text-box">
							<p>Monday - Saturday 9:00AM - 5:00PM</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div></footer>

<section class="bottom-bar">
	<div class="thm-container clearfix">
		<div class="pull-left">
			<p>Copyright © Crest Global Delivery . All rights reserved.</p>
		</div>
	</div>
</section>


<!-- jQuery js -->
<script src="plugins/jquery/jquery-1.11.3.min.js"></script>
<!-- bootstrap js -->
<script src="plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- jQuery ui js -->
<script src="plugins/jquery-ui-1.11.4/jquery-ui.js"></script>
<!-- owl carousel js -->
<script src="plugins/owl.carousel-2/owl.carousel.min.js"></script>
<!-- jQuery appear -->
<script src="plugins/jquery-appear/jquery.appear.js"></script>
<!-- jQuery countTo -->
<script src="plugins/jquery-countTo/jquery.countTo.js"></script>
<!-- jQuery validation -->
<script src="plugins/jquery-validation/dist/jquery.validate.min.js"></script>
<!-- gmap.js helper -->
<script src="http://maps.google.com/maps/api/js"></script>
<!-- gmap.js -->
<script src="plugins/gmap.js"></script>
<!-- mixit up -->
<script src="plugins/jquery.mixitup.min.js"></script>

<!-- revolution slider js -->
<script src="plugins/revolution/js/jquery.themepunch.tools.min.js"></script>
<script src="plugins/revolution/js/jquery.themepunch.revolution.min.js"></script>
<script src="plugins/revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script src="plugins/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
<script src="plugins/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
<script src="plugins/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="plugins/revolution/js/extensions/revolution.extension.migration.min.js"></script>
<script src="plugins/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script src="plugins/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<script src="plugins/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script src="plugins/revolution/js/extensions/revolution.extension.video.min.js"></script>

<!-- fancy box -->
<script src="plugins/fancyapps-fancyBox/source/jquery.fancybox.pack.js"></script>
<!-- type script -->
<script src="plugins/typed.js-master/dist/typed.min.js"></script>

<!-- theme custom js  -->
<script src="js/main.js"></script>



</body>

<!-- Mirrored from crestglobaldelivery.com/track-shipment by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 17 Nov 2022 09:24:00 GMT -->
</html>