<%- include('./partials/head')  %> 
<body>
<!-- include the main navigation  -->
<%- include('./partials/nav')  %> 

<section class="inner-banner">
	<div class="thm-container">
		<h2>Career</h2>
		<ul class="breadcumb">
			<li><a href="/"><i class="fa fa-home"></i> Home</a></li>
			<li><span>Track your Shipment</span></li>
		</ul>
	</div>
</section>


<section class="sec-padding  faq-page career-page">
	<div class="thm-container">
		<div class="row">
			<div class="col-md-12" style="text-align: center;">
				<div class="sec-title">
					<h2><span>Track your package shipment</span></h2>
					<p>Enter your order tracking number below to get notified of your order status</p>
				</div>
			    <hr>
            

				<form class="contact-form track-shipment-form" id="contactForm" method="post">
					<div class="label">
						Search Number(s)*
					</div>
					<div class="content">
						<div class="control-group form-group">
							<div class="controls">
								
								<input type="text" class="form-control" name="track" id="name"  placeholder = "Please Enter Your Tracking Number">
								<p class="help-block"></p>
								<button type="submit" class="btn btn-primary" id="btn" name="btn" >Track</button>
							</div>
						</div>
					</div>
				</form>
                 	    	
			</div>

		</div>
	</div>
</section>

<script type="module">
	import {hideSpinner, showSpinner, closeNotification, notification} from '/admin/js/notification.js'
	const btn = document.querySelector('.btn')
	const trackShipmentFrom = document.querySelector('.track-shipment-form');

	const trackShipment = async (e) => {
		showSpinner(btn)
		e.preventDefault()

		try {
			const trackingCode = trackShipmentFrom.track.value
			
			if(!trackingCode) {
				throw new Error('Enter your tracking code')
			}

			const response = await fetch(`/shipment/tracking/${trackingCode}`, {
				method: 'GET',
				headers: {'Content-Type':'application/text'},
			})

			if(!response.ok) {
				throw new Error("Opps! something went wrong")
			}

			const data = await response.text()

			hideSpinner(btn, "Track")

			if(data.error) {
				throw new Error(data.error)
			}

			console.log(data)

			location.assign(`/shipment/tracking/${trackingCode}`)

			
		} catch (error) {
			hideSpinner(btn, "Track")
			notification.error(error.message, toast, toastIcon, toastMessage, closeNotification)
			console.log(error.message)
		}
	}

	trackShipmentFrom.addEventListener('submit', trackShipment)
</script>

<!-- include footer  -->
<%- include('./partials/footer.ejs')  %> 