<%- include('./partials/head')  %> 
<body>

<!-- include the main navigation  -->
<%- include('./partials/nav')  %> 

<!-- <section class="inner-banner">
	<div class="thm-container">
		<h2>Company History</h2>
		<ul class="breadcumb">
			<li><a href="index-2.html"><i class="fa fa-home"></i> Home</a></li>
			<li><span>Company History</span></li>
		</ul>
	</div>
</section> -->


<section class="sec-padding single-service-page">
	<div class="thm-container">
		<div class="row">
			<div class="col-md-12 pull-right">
				ffff
				
			</div>
		</div>
	</div>
</section>



<section class="footer-top">
	<div class="thm-container">
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-6">
					<h3>Logistic and cargo</h3>
					<p>Contact us now to get quote for all your global <br>shipping and cargo need.</p>
				</div>
				<div class="col-md-6">
					<a class="thm-btn" href="contact.html">Contact Us <i class="fa fa-arrow-circle-right"></i></a>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- include footer  -->
<%- include('./partials/footer.ejs')  %> 