<%- include('./partials/head')  %> 
<body>
<!-- include the main navigation  -->
<%- include('./partials/nav')  %> 

<section class="inner-banner">
	<div class="thm-container">
		<h2>Career</h2>
		<ul class="breadcumb">
			<li><a href="index-2.html"><i class="fa fa-home"></i> Home</a></li>
			<li><span>Track your Shipment</span></li>
		</ul>
	</div>
</section>


<section class="sec-padding  faq-page career-page">
	<div class="thm-container">
		<div class="row">
			<div class="col-md-12" style="text-align: center;">
				<div class="sec-title">
					<h2><span>Track any Freight Management shipment</span></h2>
					<p>Enter your order tracking number below to get notified of your order status</p>
				</div>
			    <hr>
            

				<form class="contact-form track-shipment-form" action="#" id="contactForm" method="post">
					
							<div class="label">
								Search Number(s)*
							</div>
							<div class="content">
        								<form name="sentMessage" action="#" id="contactForm" method="post" novalidate>
                                <div class="control-group form-group">
                                    <div class="controls">
                                        
                                        <input type="text" class="form-control" name="track" id="name"  placeholder = "Please Enter Your Tracking Number">
                                        <p class="help-block"></p>
                                        <input type="submit" name="btn" id="btn" value="Track" class="btn btn-primary">
                                    </div>
                                </div>
                      
							</div>
						
				</form>
                 	    	
			</div>
			<div class="col-md-12" style="text-align: center;">
			    <h4 class='text-center' style='color:red; text-transform:uppercase;'><b>fill in a tracking number</b></h4>    
			</div>
		</div>
	</div>
</section>
<section class="footer-top">
	<div class="thm-container">
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-6">
					<h3>Logistic and cargo</h3>
					<p>Contact us now to get quote for all your global <br>shipping and cargo need.</p>
				</div>
				<div class="col-md-6">
					<a class="thm-btn" href="contact.html">Contact Us <i class="fa fa-arrow-circle-right"></i></a>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- include footer  -->
<%- include('./partials/footer.ejs')  %> 