<%- include('./partials/head')  %> 
<body>
<!-- include the main navigation  -->
<%- include('./partials/nav')  %> 

<section class="inner-banner">
	<div class="thm-container">
		<h2>Career</h2>
		<ul class="breadcumb">
			<li><a href="/"><i class="fa fa-home"></i> Home</a></li>
			<li><span>Track your Shipment</span></li>
		</ul>
	</div>
</section>


<section class="sec-padding  faq-page career-page">
	<div class="thm-container">
		<div class="row">
			<div class="col-md-12" style="text-align: center;">
				<div class="sec-title">
					<h2><span>Track any Freight Management shipment</span></h2>
					<p>Enter your order tracking number below to get notified of your order status</p>
				</div>
			    <hr>
            

				<form class="contact-form track-shipment-form" id="contactForm" method="post">
					<div class="label">
						Search Number(s)*
					</div>
					<div class="content">
						<div class="control-group form-group">
							<div class="controls">
								
								<input type="text" class="form-control" name="track" id="name"  placeholder = "Please Enter Your Tracking Number">
								<p class="help-block"></p>
								<button type="submit" class="btn btn-primary" id="btn" name="btn" >Track</button>
							</div>
						</div>
					</div>
				</form>
                 	    	
			</div>
			<div class="col-md-12" style="text-align: center;">
			    <h4 class='text-center' style='color:red; text-transform:uppercase;'><b>fill in a tracking number</b></h4>    
			</div>
		</div>
	</div>
</section>
<section class="footer-top">
	<div class="thm-container">
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-6">
					<h3>Logistic and cargo</h3>
					<p>Contact us now to get quote for all your global <br>shipping and cargo need.</p>
				</div>
				<div class="col-md-6">
					<a class="thm-btn" href="/contact">Contact Us <i class="fa fa-arrow-circle-right"></i></a>
				</div>
			</div>
		</div>
	</div>
</section>

<script type="module">
	const trackShipmentFrom = document.querySelector('.track-shipment-form');


	const trackShipment = async (e) => {
		console.log(1)
		e.preventDefault()
		console.log(2)
		alert('yeahhhhhh')
		console.log(3)
		
		console.log(4)

		try {
			const trackingCode = trackShipmentFrom.track.value

			console.log('tracking code: ', trackingCode)
			
			if(!trackingCode) {
				throw new Error('Enter your tracking code')
			}
			console.log(5)
			const response = await fetch(`/packages/single/${trackingCode}`, {
				method: 'GET',
				headers: {'Content-Type':'application/json'},
			})
			console.log(6)
			if(!response.ok) {
				throw new Error("Opps! something went wrong")
			}
			console.log(7)
			const data = await response.json()
			console.log(data)
			
		} catch (error) {
			console.log(error.message)
		}
	
			
		
	}

	trackShipmentFrom.addEventListener('submit', trackShipment)
</script>

<!-- include footer  -->
<%- include('./partials/footer.ejs')  %> 