<%- include('./partials/head')  %> 
<body>

<!-- include the main navigation  -->
<%- include('./partials/nav')  %> 


<style>

    body {
        background: #fff;
    }
</style>

<section class="sec-padding single-service-page" >
    <% if(!package) { %>
        <p style="font-size: 20px; text-align: center; margin: 20px 0;">package not found</p>
        <hr>
   <%} else {%>
	<div class="thm-container">
		<div class="row">
			<div class="col-md-12 tracking-container" style="margin: auto; overflow: auto;">
                <h2>track your package</h2>
                
                <div class="barcode-contaiiner" style="text-align: center; margin-top: 10px;">
                    <img src="/images/barcode.png" alt="" style="width:30%; object-fit: contain">
                    <h3 style="color: green; text-transform: uppercase">tc202243432-v3</h3>
                </div>
                <div style="margin: 30px 0;">
                    <h3 style="font-size: 2.5em;">Tracking Code: TC202243432-V3</h3>
                </div>
				<table class="table">
                    <thead>
                        <tr>
                            <th>Current Location</th>
                            <th>Destination Address</th>
                            <th>Status of Item</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>UK</td>
                            <td>1300 MERCHANTS DR APT k58 DALLAS USA 30213</td>
                            <td>On Transit >>></td>
                        </tr>
                    </tbody>

                    <thead>
                        <tr>
                            <th>Sender Name</th>
                            <th>Sender Email</th>
                            <th>Package</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr style="width: 100%;">
                            <td>Apex Tech</td>
                            <td>Support@apextech.com</td>
                            <td>Jw</td>
                        </tr>
                    </tbody>

                    <thead class="active">
                        <tr>
                            <th>Receiver Name</th>
                            <th>Receiver Email</th>
                            <th>Receiver Number</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Mary Johson</td>
                            <td>Maryjohnson@gmail.com</td>
                            <td>+1(893)023-2567</td>
                        </tr>
                    </tbody>

                    <thead class="active">
                        <tr>
                            <th>Destination Address</th>
                            <th>Depature Date</th>
                            <th>Expected Delivery Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1300 MERCHANTS DR APT k58 DALLAS USA 30213</td>
                            <td>06/09/2022</td>
                            <td>12/12/2022</td>
                        </tr>
                    </tbody>

                    <thead class="active">
                        <tr>
                            <th>Shipment Method</th>
                            <th>Pickup Date & Time</th>
                            <th>Weight</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1300 MERCHANTS DR APT k58 DALLAS USA 30213</td>
                            <td>27/11/2022</td>
                            <td>180kg</td>
                    </tbody>
                    
                </table>

			</div>
		</div>
	</div>
</section>
<% } %> 

<!-- <section class="footer-top">
	<div class="thm-container">
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-6">
					<h3>Logistic and cargo</h3>
					<p>Contact us now to get quote for all your global <br>shipping and cargo need.</p>
				</div>
				<div class="col-md-6">
					<a class="thm-btn" href="contact.html">Contact Us <i class="fa fa-arrow-circle-right"></i></a>
				</div>
			</div>
		</div>
	</div>
</section> -->

<!-- include footer  -->
<%- include('./partials/footer.ejs')  %> 