
    <!-- jquery cdn  -->
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    
    <!-- dataTable js -->
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>

    <!-- dataTable file  -->
    <script src="/admin/js/dataTable.js"></script>

    <!-- main js file -->
    <script src="/admin/js/main.js"></script>
    <script src="/admin/js/requests.js"></script>
</body>
</html>