

<div class="sideWrapper">
    <div class="innerWrapper">
        <div class="sideLogo">
            <img src="" alt="">
            <p>Express Delivery</p>
        </div>
        <ul>
            <li>
                <a href="/admin/dashboard" class="active">
                    <span class="icon"><i class="fa-solid fa-grid-horizontal"></i></span>
                    <span class="menu"><i class="fa-solid fa-life-ring"></i>&nbsp; Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/admin/create">
                    <span class="icon"><i class="fa-solid fa-grid-horizontal"></i></span>
                    <span class="menu"><i class="fa-solid fa-plus"></i>&nbsp; Create package</span>
                </a>
            </li>
            <li>
                <a href="/admin/view">
                    <span class="icon"><i class="fa-solid fa-grid-horizontal"></i></span>
                    <span class="menu"><i class="fa-solid fa-eye"></i>&nbsp; View packages</span>
                </a>
            </li>
           
            <li>
                <a href="/admin/Settings">
                    <span class="icon"><i class="fa-solid fa-grid-horizontal"></i></span>
                    <span class="menu"><i class="fa-solid fa-gears"></i>&nbsp; Settings</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <span class="icon"><i class="fa-solid fa-grid-horizontal"></i></span>
                    <span class="menu logout-btn"><i class="fa-solid fa-arrow-right-from-bracket"></i> &nbsp; Logout</span>
                </a>
            </li>
        </ul>
    </div>
</div>
