

<div class="sideWrapper">
    <div class="innerWrapper">
        <div class="sideLogo">
            <img src="" alt="">
            <p>Express Delivery</p>
        </div>
        <ul>
            <li>
                <a href="/admin/dashboard" class="active">
                    <span class="icon"><i class="fa-solid fa-grid-horizontal"></i></span>
                    <span class="menu">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/admin/create">
                    <span class="icon"><i class="fa-solid fa-grid-horizontal"></i></span>
                    <span class="menu">Create package</span>
                </a>
            </li>
            <li>
                <a href="/admin/view">
                    <span class="icon"><i class="fa-solid fa-grid-horizontal"></i></span>
                    <span class="menu">View packages</span>
                </a>
            </li>
           
            <li>
                <a href="/admin/Settings">
                    <span class="icon"><i class="fa-solid fa-grid-horizontal"></i></span>
                    <span class="menu">Settings</span>
                </a>
            </li>

            <li>
                <a href="">
                    <span class="icon"><i class="fa-solid fa-grid-horizontal"></i></span>
                    <span class="menu">Logout</span>
                </a>
            </li>
        </ul>
    </div>
</div>