<div class="topSection">
    <div class="greeting">
        <span class="destop-logo"><i class="fa-brands fa-product-hunt"></i></span>
        <span class="destop-greet"><p>Good Morning, Success</p></span>
    </div>

    <div class="profile">
        <span><i class="fa-solid fa-bars openNav"></i></span>
    </div>
</div>