<div class="topSection">
    <div class="greeting">
        <span class="destop-logo"><i class="fa-brands fa-product-hunt"></i></span>
        <span class="destop-greet"><p>Good Morning, <%= admin.adminName %>  &nbsp; <i class="fa-solid fa-angle-down"></i> </p></span>
    </div>

    <div class="profile">
        <span><i class="fa-solid fa-bars openNav"></i></span>
    </div>
</div>

<div class="topnav-modal">
    <div class="modalContent"> 
        <ul>
            <li><a href="/admin/Settings"><i class="fa-solid fa-gears"></i>&nbsp;Settings</a></li>
            <li class="logout-btn"><a href=""><i class="fa-solid fa-arrow-right-from-bracket"></i> &nbsp;Logout</a></li>
        </ul>
    </div>
</div>