<div class="topSection">
    <div class="greeting">
        <span class="destop-logo"><i class="fa-brands fa-product-hunt"></i></span>
        <span class="destop-greet"><p>Hello, &nbsp; <%= admin.adminName %>  &nbsp; <i class="fa-solid fa-angle-down"></i> </p></span>
    </div>

    <div class="profile">
        <span><i class="fa-solid fa-bars openNav"></i></span>
    </div>
</div>

<div class="topnav-modal">
    <div class="modalContent"> 
        <ul>
            <li><a href="/admin/Settings"><i class="fa-solid fa-gears"></i>&nbsp;Settings</a></li>
            <li class="logout-btn"><a href=""><i class="fa-solid fa-arrow-right-from-bracket"></i> &nbsp;Logout</a></li>
        </ul>
    </div>
</div>


<script>
    // function to togle topnav modal 
const topNavModal = () => {
    const topnavModal = document.querySelector('.topnav-modal')
    const angleDown = document.querySelector('.fa-angle-down')
     const angleUp = document.querySelector('.fa-angle-up')
    topnavModal.classList.toggle('active')

    if(topnavModal.classList.contains('active')) {
        angleDown.classList.remove('fa-angle-down')
        angleDown.classList.add('fa-angle-up')
    } else {
        angleUp.classList.add('fa-angle-down')
        angleUp.classList.remove('fa-angle-up')
    }
}
topNavToggle.addEventListener('click', topNavModal)
</script>