<div class="topSection">
    <div class="greeting">
        Good Morning, Success
    </div>

    <div class="profile">
        <span>icon</span>
        <span>Onyekaozulu</span>
        <span>icon2</span>
    </div>
</div>